@font-face {
    font-family: "Assistant";
    src: url("../Assets/Assistant-VariableFont_wght.ttf");
}

.main-content{
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	font-family: 'Assistant';
	/*background-image: url("../Assets/notConnected.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: absolute;
}